@import "../styles/_variables.scss";

.input_container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
}

.input {
  position: relative;
  display: flex;
  align-items: center;

  .icon {
    position: absolute;
    left: 1rem;
  }
}

.invalid {
  outline: 1px solid $orange;
}
