@import "styles/_variables.scss";
@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  font-family: "Space Mono";
}

body {
  background-color: $light-gray-cyan1;
  margin: 0;
  padding: 0;
}

.logo {
  display: flex;
  margin: 3rem auto;
}

label,
p {
  color: $dark-gray-cyan2;
  font-weight: 700;
  margin: 0;
}

input {
  width: 100%;
  text-align: right;
  background-color: $light-gray-cyan2;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  color: $dark-cyan;
  font-weight: 700;
  font-size: 1.5rem;
  -moz-appearance: textfield;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  &:focus,
  &:active {
    outline: 2px solid $cyan;
  }
}

strong {
  color: $cyan;
  font-size: 1.75rem;
  @media (min-width: 40rem) {
    font-size: 3rem;
  }
}
